<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/frontend/static/style.css">
    <link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
</head>

<body bgcolor="#000000">
<div class='menu'>
    <a href='/'>Home</a>
    
    <a href="https://github.gatech.edu/compgenomics2020/Team3-WebServer">GitHub</a>
    <a href="https://compgenomics2020.biosci.gatech.edu/Team_III_Webserver_Group">Wiki</a>
    <a href="/AboutUs">About Us</a>
</div>

<div class = "heading">
<h1 align="center" style="font-family: 'Roboto', 'Helvetica', sans-serif;">About Us</h1>
</div>
<br>

<div class="bd-example" align="middle">
    <table width="800" cellpadding="10" border="5" bordercolor="#8080cc" bordercolorlight="#8080c0" bordercolordark="#400080" bgcolor="#ffffcc">
        <tr>
            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Sonali.jpg') }}" style="width:150px;height:150px;"/>
                <br/>
                Sonali Gupta
<br>
                <a href="https://github.com/sgupta1524">Personal GitHub</a>
            </td>


            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Ali.jpeg') }}" style="width:150px;height:150px;"/>
                <br/>
                Allison Rozanski
<br>    
             <a href="">Personal GitHub</a>
            </td>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Aparna.png') }}" style="width:150px;height:150px;"/>
                <br/>
                Aparna Maddala
<br>    
             <a href="https://github.com/aparnamaddala">Personal GitHub</a>
            </td>


        </tr>

    </table>


    <table width="800" cellpadding="10" border="5" bordercolor="#8080cc" bordercolorlight="#8080c0" bordercolordark="#400080" bgcolor="#ffffcc">


        <tr>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Ahish.png') }}" style="width:150px;height:150px;"/>
                <br/>
                Ahish Sujay
<br>    
            <a href="https://github.com/ahishsujay">Personal GitHub</a>
            </td>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Yiqiong.png') }}" style="width:150px;height:150px;"/>
                <br/>
                Yiqiong Xiao
<br>    
            <a href="https://github.com/yxiao17">Personal GitHub</a>
            </td>

            <td align="center" valign="center">
                <img src="{{ url_for('frontend.static', filename='Yuhua.png') }}" style="width:150px;height:150px;"/>
                <br/>
                Yuhua Zhang
<br>    
            <a href="https://github.com/yzhang3466">Personal GitHub</a>
            </td>


        </tr>

    </table>


</body>
</div>
</html>
